.normal{
  width: 100%;
  height: 100%;
}
.form{
  width:70%;
  float: left;
}
.img{
  width: 10%;
  float: left;
  margin:0 5%;
}
.fromBox{
  display: flex;
  flex-wrap: wrap;
}

.fromBox>div{
  width: 350px;
}
.btnBox{
  margin: auto;
}