
.normal {
}
.search{
    background-color: white;
    position: absolute;
    width: 98%;
    height: 135px;
    z-index: 99;
    top: 0;

}
.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  
  .form .ant-form-item {
    display: flex;
  }
  
  .form .ant-form-item-control-wrapper {
    flex: 1;
  }
  .tableBtn{
    
  }

  .table{
    margin-top:145px
  }