
.normal {
  background: #f9f9f9;
  width: 98%;
  margin: 0 1%;
  padding:0 20px;
}
.anchor{
  position: absolute;
  width: 100px;
  right: 0;
  top: 140px;
  z-index: 99;
  background-color: #f5f3c3 !important;
  border-radius: 3px;
}
